body {
  background-color: rgb(38, 38, 38);
  color: rgb(232, 230, 230);
}

p {
  line-height: 1.5;
}

h1.h1-font-size {
  // padding-top: 30px;
  // font-size: 100px;
  margin-top: 7px;
}

.array-container {
  position: absolute;
  bottom: 25px;
  left: 50px;
  margin: 0;
  padding: 0;
}

.array-line {
  width: 2px;
  background-color: #f253a8;
  display: inline-block;
  margin: auto 1px;
  padding: 0;
}

.flex-center {
  width: 100%;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mb {
  margin: 12px 0 12px 10px;
  left: 35%;
}

.flex-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

button.ui.button {
  margin: 10px;
  width: 130px;
}

button.hover-enable:hover {
  transform: scale(1.02);
}

button.hover-enable:hover {
  transform: scale(1.02);
}

hr {
  width: 95%;
}

.main-max-width {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
.sub-max-width {
  max-width: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

p.full-width {
  width: 100%;
  margin-bottom: 4px;
}

.float-right {
  float: right;
}

h2 {
  margin-bottom: 5px;
}

div.ui.container.bg-grey {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 15px;
}

.white-i {
  color: white;
}

.animate-content {
  animation: transitionDown 2s;
}

@keyframes transitionDown {
  from {
    opacity: 0;
    transform: rotateX(-25deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

@media only screen and (max-width: 1200px) {
  .mb {
    left: 0%;
  }
}

@media only screen and (max-width: 900px) {
  .sub-max-width {
    display: none;
  }
}
