.arr-container{
  position: absolute;
  bottom: 50px;
  left: 50px;
  margin: 0;
  padding: 0;
}

.arr-line{
  width: 8px;
  background-color: #5ac75c;
  display: inline-block;
  margin: auto 1px;
  padding: 0;
}